# --- Python ---
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/

# --- Datos y resultados pesados ---
datos/*.nc
datos/*.tif
datos/*.csv
resultados/
figuras/*.png
*.h5
*.hdf5

# --- Bases de datos que genera SPOTPY ---
*_hymod.csv
SCEUA_*.csv
DREAM_*.csv

# --- Sistema operativo y editor ---
.DS_Store
._*
.vscode/
